<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bush.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,590},{234,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,110}}</string>
        <key>sourceSize</key>
        <string>{234,110}</string>
      </dict>
      <key>cloud1.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,590},{120,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,68}}</string>
        <key>sourceSize</key>
        <string>{120,68}</string>
      </dict>
      <key>cloud2.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,660},{120,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,64}</string>
      </dict>
      <key>cloud3.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,774},{120,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,50}}</string>
        <key>sourceSize</key>
        <string>{120,50}</string>
      </dict>
      <key>coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,852},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>energy.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,700},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>grass.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,590},{200,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,102}}</string>
        <key>sourceSize</key>
        <string>{200,102}</string>
      </dict>
      <key>leaf.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,980},{42,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,44}}</string>
        <key>sourceSize</key>
        <string>{42,44}</string>
      </dict>
      <key>menu_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,506},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>menu_button_pressed.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,506},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>panda_fly_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,700},{56,64}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>panda_slide_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,808},{54,56}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{54,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>panda_walk_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,656},{64,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{64,62}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>panda_walk_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,722},{50,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,1},{50,62}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>panda_walk_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,590},{64,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{64,62}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>pause_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,726},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>play_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,422},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>play_button_pressed.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,422},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>quit_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,338},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>quit_button_pressed.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,338},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>restart_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,254},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>restart_button_pressed.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,254},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>resume_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,170},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>resume_button_pressed.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,170},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>stone.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,980},{64,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,34}}</string>
        <key>sourceSize</key>
        <string>{64,34}</string>
      </dict>
      <key>temple.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,826},{212,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{212,152}}</string>
        <key>sourceSize</key>
        <string>{212,152}</string>
      </dict>
      <key>temple_back.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,774},{76,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>tips_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,86},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>tips_button_pressed.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,86},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>tree.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,826},{108,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,170}}</string>
        <key>sourceSize</key>
        <string>{108,170}</string>
      </dict>
      <key>try_again_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>try_again_button_pressed.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,2},{246,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,82}}</string>
        <key>sourceSize</key>
        <string>{246,82}</string>
      </dict>
      <key>wood.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,590},{108,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,82}}</string>
        <key>sourceSize</key>
        <string>{108,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sprites-hd.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:a8110d6488b43d769f91914eec09fa90$</string>
      <key>textureFileName</key>
      <string>sprites-hd.png</string>
    </dict>
  </dict>
</plist>
